# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static files
staticfiles/

# Media files (optional)
media/

# OS files
.DS_Store
Thumbs.db